.Gif {
  border: 1px solid rgb(14, 122, 141);
  color: rgb(14, 122, 141);
  text-decoration: none;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: 16px;
  width: auto;
}

.Gif h4 {
  margin: 0
}

.gif img {
  object-fit: contain;
}